.mt-15{
    margin-top: 15px;
}
.mr-5 {
    margin-right: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.mb-5{
    margin-bottom: 5px;
}
.text-right {
    float: right;
    cursor: pointer;
}
.text-right:hover {
    color:red;
}
/* .sort_selected::after {
    content: fa-content:();
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    display: inline-block;
} */
